services:

  postgres-message:
    image: postgres:16
    environment:
      POSTGRES_DB: ${MESSAGE_DB}
      POSTGRES_USER: ${MESSAGE_DB_USER}
      POSTGRES_PASSWORD: ${MESSAGE_DB_PASSWORD}
    ports:
      - "5432:5432"

  postgres-audit:
    image: postgres:16
    environment:
      POSTGRES_DB: ${AUDIT_DB}
      POSTGRES_USER: ${AUDIT_DB_USER}
      POSTGRES_PASSWORD: ${AUDIT_DB_PASSWORD}
    ports:
      - "5433:5432"

  message-service:
    build: ./message-service
    depends_on:
      - postgres-message
      - audit-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-message:5432/${MESSAGE_DB}
      SPRING_DATASOURCE_USERNAME: ${MESSAGE_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${MESSAGE_DB_PASSWORD}
      AUDIT_BASE_URL: ${AUDIT_BASE_URL}
    ports:
      - "8080:8080"

  audit-service:
    build: ./audit-service
    depends_on:
      - postgres-audit
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-audit:5432/${AUDIT_DB}
      SPRING_DATASOURCE_USERNAME: ${AUDIT_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${AUDIT_DB_PASSWORD}
    ports:
      - "8081:8080"
